<!--<div class="content" style="background-color: aqua">-->
    <!--<div  (window:resize)="onResize($event)">moshe:{{widthWin}}</div>-->
    
    <!--<span *ngFor="let number of [0,1,2,3,4,5,6,7,8]">{{ 'HOME.LINE' | translate }}{{number}}<br> </span>-->

    <!-- <div class="Container">
        <div>
            <div>
                <h2>{{ 'HOME.TITLE' | translate }}</h2>
                <label>
                    {{ 'HOME.SELECT' | translate }}
                    
                </label>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->


<app-containers></app-containers>
