<footer>
	
  
    <div class="footerA">a</div>
    <div class="footerB">
      <div class="footerMAt">
        <div class="navFooterLink">
          <div class="navFooterLinkHeader">{{ 'FOOTER.0.HEADER.GET_TO_KNOW_US' | translate }}</div>
          <ul>
            <li class="nav_first">
              <a href="https://www.amazon.jobs" class="nav_a">{{ 'FOOTER.0.ITEMS.CAREERS' | translate }}</a>
            </li>
            <li>{{ 'FOOTER.0.ITEMS.BLOG' | translate }}</li>
            <li>{{ 'FOOTER.0.ITEMS.ABOUT_AMAZON' | translate }}</li>
            <li>{{ 'FOOTER.0.ITEMS.INVESTOR_RELATIONS' | translate }}</li>
            <li class="nav_last">{{ 'FOOTER.0.ITEMS.AMAZON_DEVICES' | translate }}</li>
          </ul>
        </div>
        <div class="navFooterSpacerInner"></div>
        <div class="navFooterLink">
          <div class="navFooterLinkHeader">Make Money with Us</div>
          <ul>
            <li class="nav_first">Sell on Amazon</li>
            <li>Sell Your Services on Amazon</li>
            <li>Sell on Amazon Business</li>
            <li>Sell Your Apps on Amazon</li>
            <li>Become an Affiliate</li>
            <li>Advertise Your Products</li>
            <li>Self-Publish with Us</li>
            <li class="nav_last">›See all</li>
          </ul>
        </div>
        <div class="navFooterSpacerInner  MediumDevices"></div>
        <div class="navFooterLink">
          <div class="navFooterLinkHeader">Amazon Payment Products</div>
          <ul>
            <li class="nav_first">Amazon Business Card</li>
            <li>Shop with Points</li>
            <li>Reload Your Balance</li>
            <li class="nav_last">Amazon Currency Converter</li>
          </ul>
        </div>
        <div class="navFooterSpacerInner"></div>
        <div class="navFooterLink">
          <div class="navFooterLinkHeader">Let Us Help You</div>
          <ul>
            <li class="nav_first">Your Account</li>
            <li>Your Orders</li>
            <li>Shipping Rates & Policies</li>
            <li>Returns & Replacements</li>
            <li>Manage Your Content and Devices</li>
            <li>Amazon Assistant</li>
            <li class="nav_last">Help</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footerC">b</div>
    <div class="footerD">d</div>
    <div class="footerE">e</div>
    <div class="footerF">f</div>
  
  

</footer>